<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <H1>Hello.</h1>
    <p>This app is running on Simple Rack Compatible Server.</p>
  </div>
  <div>
    <a href='/contents/new'>Try posting</a>
  </div>
</body>
</html>
