<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <div>
    <p>You posted <%= @content || 'nothing.' %></p>
    <a href='/contents/edit'>Edit</a>
  </div>
  <div>
    <a href='/'>Back to top</a>
  </div>
</body>
</html>
